<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn - Profile</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header id="mainHeader">

    <h1>iLearn</h1>

</header>

<section id="profile_edit_section">
    <h2>Profile edit</h2>

    <p style="text-align:left;">
        Insert the data that you want to change here:

        N.B.: To save the changes you have to complete and save all the down table:
    </p>

    <form id="profile_edit_form" th:action="@{'/editProfile/' + ${userRegistred.username}}" method="post">
        <label for="emailInput" id="emailLabel">EMAIL:</label>
        <input type="text" id="emailInput" name="email" required>

        <label for="telephoneNumberInput" id="telephoneNumberLabel" >CELLULAR:</label>
        <input type="text" id="telephoneNumberInput" name="telephoneNumber" required>

        <label for="addressInput" id="addressLabel">ADDRESS:</label>
        <input type="text" id="addressInput" name="address" required>

        <label for="cityInput" id="cityLabel">CITY:</label>
        <input type="text" id="cityInput" name="city" required>

        <button type="submit" id="submitButton">Send the data</button>
    </form>
</section>

<footer id="mainFooter">
    <p>2024 iLearn - All rights reserved</p>
</footer>

</body>
</html>
