<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iLearn - Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header>

    <h1>iLearn</h1>

</header>
<div>
    <h2>Exam</h2>
    <p>

        Dear <span></span>
        Here you can:
        See the list of accepted grades;
        Accept or decline a grade of a specific exams that you had sustained.
    </p>
</div>

<div>
    <!-- ACCEPTED EXAM-->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>PROF. NAME</th>
            <th>ACCEPTANCE DATE</th>
            <th>EXAM DATE</th>
            <th>GRADE</th>
        </tr>
        <tr>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
    </table>

    <!-- PENDING EXAMS-->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>PROF. NAME</th>
            <th>GRADE</th>
            <th>EXAM DATE</th>
            <th>ACCPET/DECLINE ACTION</th>
        </tr>
        <tr>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
    </table>
</div>
<footer>
    <p>2024 iLearn - All rights reserved</p>
</footer>

</body>
</html>