<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn - Exam</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>

    <h1>iLearn</h1>

</header>
<div>
    <h2>Profile</h2>
    <p>
        Dear <span></span>,
        Here you can access the 2 sections to:
        See the list of exams and register to a specific date;
        Accept or decline the grade that you have obtained and see the history of your exam.p>
</div>

<div>
    <a href="/exam_list">See your exams list and enroll to them.</a>
    <a href="/exam_book">See the exams that you had done and accept or decline the grade.</a>
</div>
<footer>
    <p>2024 iLearn - All rights reserved</p>
</footer>

</body>
</html>



