<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn - Exams book</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>iLearn</h1>
</header>

<div>
    <h2>Profile</h2>
    <p>
        Dear <span id="firstname" th:text="${userRegistred.firstname}"></span>,<br/>
        Here you can subscribe to exams. If the list is empty, you do not have any exams available.
    </p>
</div>

<div>
    <!-- AVAILABLE EXAMS -->
    <table id="availableExamsTable">
        <tr>
            <th>EXAM NAME</th>
            <th>LAST AVAILABLE ENROLLMENT DAY</th>
            <th>EXAM DATE</th>
            <th>ENROLL ACTION</th>
        </tr>
        <tr th:each="exam: ${availableExams}">
            <td th:text="${exam.name}" />
            <td th:text="${exam.lastDayToEnroll}" />
            <td th:text="${exam.examDate}" />
            <td>
                <button th:id="'enrollExamButton' + ${exam.id}" onclick="confirmAction('Enroll', ${exam.id})">Enroll</button>
            </td>
        </tr>
    </table>

    <!-- EXAMS ON WHICH I AM ENROLLED -->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>ENROLLMENT DAY</th>
            <th>EXAM DATE</th>
        </tr>
        <tr th:each="exam: ${availableExams}">
            <td th:text="${exam.name}" />
            <td th:text="${exam.lastDayToEnroll}" />
            <td th:text="${exam.examDate}" />
            <td>
                <button th:id="'enrollExamButton' + ${exam.id}" onclick="confirmAction('Enroll', ${exam.id})">Enroll</button>
            </td>
        </tr>
    </table>
</div>

<footer>
    <p>2024 iLearn - All rights reserved</p>
</footer>
</body>
</html>
