<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iLearn - Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header>

    <h1>iLearn</h1>

</header>
<div>
    <h2>Profile</h2>
    <p>
        Dear <span></span>,
        Here you can subscribe to an exams.

        If the list is empty, you do not have any exam available.
    </p>
</div>

<div>
    <!-- AVAILABLE EXAM-->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>PROF. NAME</th>
            <th>LAST AVAILABLE ENROLLMENT DAY</th>
            <th>EXAM DATE</th>
            <th>ENROLL ACTION</th>
        </tr>
        <tr>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
    </table>

    <!-- EXAM ON WHICH I AM ENROLLED-->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>PROF. NAME</th>
            <th>ENROLLMENT DAY</th>
            <th>EXAM DATE</th>
        </tr>
        <tr>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
            <td><span></span></td>
        </tr>
    </table>
</div>
<footer>
    <p>2024 iLearn - All rights reserved</p>
</footer>

</body>
</html>
</title>
</head>
<body>

</body>
</html>