<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn - Exams book</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>

    <h1>iLearn</h1>

</header>
<div>
    <h2>Exam</h2>
    <p>Dear <span id="firstname" th:text="${userRegistred.firstname}"></span>,<br/>
        In this section you can:
        <ul>
            <li>See the list of accepted grades; </li>
            <li>Accept or decline a grade of a specific exams that you had sustained. </li>
        </ul>
    </p>
</div>

<div>
    <!-- ACCEPTED EXAM-->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>PROF. NAME</th>
            <th>DATE</th>
            <th>CFU</th>
            <th>GRADE</th>
        </tr>
        <tr th:each="exam: ${acceptedExams}">
            <td th:text="${acceptedExams.name}" />
            <td th:text="${acceptedExams.course.profName}" />
            <td th:text="${acceptedExams.examDate}" />
            <td th:text="${acceptedExams.course.cfu}" />
            <td th:text="${acceptedExams.grade}" />
        </tr>
    </table>

    <!-- PENDING EXAMS-->
    <table>
        <tr>
            <th>EXAM NAME</th>
            <th>PROF. NAME</th>
            <th>DATE</th>
            <th>CFU</th>
            <th>GRADE</th>
            <th>ACCPET/DECLINE?</th>
        </tr>
        <tr th:each="exam: ${pendingExams}">
            <td th:text="${pendingExams.name}" />
            <td th:text="${pendingExams.course.profName}" />
            <td th:text="${pendingExams.examDate}" />
            <td th:text="${pendingExams.course.cfu}" />
            <td th:text="${pendingExams.grade}" />
            <td>
                <button th:id="'acceptExamButton_' + ${exam.id}" th:onclick="'acceptExamAction(' + ${exam.id} + ')'" >ACCEPT</button><br/>
                <button th:id="'declineExamButton_' + ${exam.id}" th:onclick="'declineExamAction(' + ${exam.id} + ')'" >DECLINE</button>
            </td>
        </tr>
    </table>
</div>
<footer>
    <p>2024 iLearn - All rights reserved</p>
</footer>

</body>
</html>