<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLearn - Login</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>

<header>

    <h1>iLearn</h1>

</header>

<section>
    <h2>Login</h2>
    <p style="text-align:center;">
        WELCOME TO iLEARN

        To access the system, please, provide your
        email and password
    </p>
    <form action="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</section>

<footer>
    <p>2024 iLearn - All rights reserved</p>
</footer>

</body>
</html>
